.post-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em;
  justify-content: center;
  margin: 20px;
  background-color: white;
  width: 400px;
  min-height: 150px;
  border-radius: 1rem;
}
.headerPost {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}
.impPost {
  display: flex;
  justify-content: center;
  background-color: blue;
}
.impPost img {
  width: 250px;
}

.updatePost {
  display: flex;
  flex-direction: column;
}
.updatePost textarea {
  font-family: "roboto";
  padding: 5px;
  white-space: initial;
  resize: none;
}
.text {
  display: flex;
  justify-content: center;
  text-align: center;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.buttonContainer .btnPost{
  cursor: pointer;
  margin-top: 4px;
  background-color: #091f43;
  color: white;
  border-radius: 0.2rem;}

.buttonContainer .icnUpdate {
  margin-right: 8px;
  cursor: pointer;
}
.buttonContainer .icnDelete {
  cursor: pointer;
}

.footerPost {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.linkPost {
  font-size: 15px;
  text-decoration: none;
}
