@media screen and (max-width: 767px) {
 .thePost{
   margin: 0 auto;
 }

  .onePostContent .showPost {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .onePostContent .showPost .onePostCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: white;
    max-width: 290px;
    border-radius: 1rem;
  }

  .onePostContent .onePostCard .onePostCardHeaders {
    padding: 0.5em 0.5em;
  }

  .onePostContent .onePostCard .imgOnePost {
    max-width: 282px;
    padding: 5px;
  }
  .onePostContent .onePostCard img {
    max-width: 281px;
  }

  .onePostContent .onePostCard .onePostCardText {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .onePostContent .onePostCard .onePostCardText .textOnePost {
    white-space: normal;
    
    word-break: break-all;
}

  .onePostContent .onePostCard .updateOnePost textarea {
    resize: none;
    max-width: 274px;
  }
.onePostCard  .btnWCAG {
  background-color: #1fe0;
  border: none;
}
  .onePostContent .onePostCard .buttonContainerOnePost {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }

  .onePostContent .onePostCard .OnePostComment {
    display: flex;
    background-color: rgba(228, 226, 226, 0.712);
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
    padding: 5px;
  }
  .onePostContent .onePostCard .OnePostComment p {
    white-space: normal;
    word-break: break-all;
  }
  .onePostContent .onePostCard .postComment {
    display: flex;
    justify-content: space-evenly;
    max-width: 275px;
    padding: 5px;
  }

  .onePostContent .onePostCard .postComment button {
    cursor: pointer;
    background-color: #091f43;
    color: white;
    border-radius: 0.2rem;
  }

  .onePostContent .onePostCard .postComment .postCommentInput {
    max-width: 270px;
    font-family: "roboto";
    white-space: initial;
    resize: none;
    padding: 5px;
    border: none;
    border-radius: 0.2rem;
  }

  .onePostContent .onePostCard .updateCom textarea {
    font-family: "roboto";
    width: 275px;
    white-space: initial;
    resize: none;
  }

  .onePostContent .onePostCardText .buttonContainer .btn {
    font-family: "roboto";
    background-color: #091f43;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px), (max-width: 1023px) {
  .onePostContent .showPost {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .onePostContent .showPost .onePostCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: white;
    width: 400px;
    border-radius: 1rem;
  }

  .onePostContent .onePostCard .onePostCardHeaders {
    padding: 0.5em 0.5em;
  }

  .onePostContent .onePostCard .imgOnePost {
    width: 390px;
    padding: 5px;
  }
  .onePostContent .onePostCard img {
    width: 390px;
  }

  .onePostContent .onePostCard .onePostCardText {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 20px;
  }
  .onePostContent .onePostCard .onePostCardText .textOnePost {
    white-space: normal;
    word-break: break-all;
  }
  .onePostCard  .btnWCAG {
    background-color: #1fe0;
    border: none;
  }
  .onePostContent .onePostCard .updateOnePost textarea {
    resize: none;
    width: 375px;
    font-size: 20px;
    white-space: initial;
  }

  .onePostContent  .onePostCard .buttonContainerOnePost {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }

  .onePostContent  .onePostCard .OnePostComment {
    display: flex;
    background-color: rgba(228, 226, 226, 0.712);
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
    padding: 5px;
  }
  .onePostContent  .onePostCard .OnePostComment p {
    white-space: normal;
    word-break: break-all;
  }
  .onePostContent  .onePostCard .postComment {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    padding: 5px;
  }

  .onePostContent .onePostCard .postComment button {
    cursor: pointer;
    background-color: #091f43;
    color: white;
    border-radius: 0.2rem;
  }

  .onePostContent .onePostCard .postComment .postCommentInput {
    width: 375px;
    font-family: "roboto";
    white-space: initial;
    resize: none;
    padding: 5px;
    border: none;
    border-radius: 0.2rem;
  }

  .onePostContent .onePostCard .updateCom textarea {
    font-family: "roboto";
    width: 275px;
    white-space: initial;
    resize: none;
  }

  .onePostContent .onePostCardText .buttonContainer .btn {
    font-family: "roboto";
    background-color: #091f43;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .showPost {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .showPost .onePostCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: white;
    width: 400px;
    border-radius: 1rem;
  }

  .onePostCard .onePostCardHeaders {
    padding: 0.5em 0.5em;
  }

  .onePostCard .imgOnePost {
    width: 390px;
    padding: 5px;
  }
  .onePostCard img {
    width: 390px;
  }

  .onePostCard .onePostCardText {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 20px;
  }
  .onePostCard .onePostCardText .textOnePost {
    white-space: normal;
    width: 375px;
  }
  .onePostCard .updateOnePost textarea {
    resize: none;
    width: 375px;
    font-size: 20px;
    white-space: initial;
  }
  .onePostCard  .btnWCAG {
    background-color: #1fe0;
    border: none;
  }
  .onePostCard .buttonContainerOnePost {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }

  .onePostCard .OnePostComment {
    display: flex;
    background-color: rgba(228, 226, 226, 0.712);
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
    padding: 5px;
  }
  .onePostCard .OnePostComment p {
    white-space: normal;
    word-break: break-all;
  }
  .onePostCard .postComment {
    display: flex;
    justify-content: space-evenly;
    width: 380px;
    padding: 5px;
  }

  .onePostCard .postComment button {
    cursor: pointer;
    background-color: #091f43;
    color: white;
    border-radius: 0.2rem;
  }

  .onePostCard .postComment .postCommentInput {
    width: 375px;
    font-family: "roboto";
    white-space: initial;
    resize: none;
    padding: 5px;
    border: none;
    border-radius: 0.2rem;
  }

  .onePostCard .updateCom textarea {
    font-family: "roboto";
    width: 275px;
    white-space: initial;
    resize: none;
  }

  .onePostCardText .buttonContainer .btn {
    font-family: "roboto";
    background-color: #091f43;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}
